<h1> All Artists //</h1>

<% checker = [] %>
<% @artists.each do |artist| %>
  <% if !checker.include?(artist.name.first) %>
    <h5><%= artist.name.first %></h5>
      <% checker << artist.name.first %>
    <% end %>
<a href="/artists/<%= artist.slug %>"><%=artist.name%> </a>/
<% end %>
